user_uuid="e85c3a3d-fe6f-461f-9323-8ee1a083351a"
bucket_name="3x2aa6hdhr92npt83bz1wj8lehwx6nh2"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1
